<p>This is the legendary coaches answer</p>
<p>Open your ears wide and listen up...</p>
<p>You asked the following:</p>
<h2><%= @form_value %></h2>

<p>this is what the coach thinks of you</p>
<h1><%= @coach_answer %></h1>
<h1>damn fool</h1>
<%# <a href="/ask">Ask more questions</a> %>
<%= link_to "Ask more questions", "/ask" %>
